body {
    color: #008675;
}

.section-title {
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.section-title h1 {
    font-weight: bold;
    color: #78BE20;
}

.section-title p {
    font-weight: bold;
}

@media only screen and (min-width: 601px) {
    .section-title .logo img {
        margin-right: 5rem;
    }

    .section-title .intro {
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    .section-title .logo img {
        margin-right: auto;
    }

    .section-title .intro {
        text-align: center;
    }
}

.section-tools {
    margin-top: 5rem;
}

.section-tools h2 {
    color: #78BE20;
}

.section-tools  .card-image {
    color: #78BE20;
}

.section-tools .popover {
    width: auto;
    display: block;
    margin: 0em 2em;
    padding: 1em;
}

.section-tools .popover .card {
    padding: 1em;
}

.section-tools .popover .card  .btn {
    border-color: #78BE20;
    color: #78BE20;
}

.section-tools .popover .card  .btn:hover {
    background: #78BE20;
    color: white;
}

.section-tools .popover .card  .btn:focus {
    background: #78BE20;
    color: white;
}

.section-tools .popover .card  .btn-primary {
    background: #78BE20;
    color: white;
}

.section .column {
    padding-bottom: 0;
}

.img-footer {
    margin-top: 5rem;
    width: 100%;
}